body {
  margin: 0;
  padding: 0;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
  font-family:sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed {
text-decoration: line-through;
background-color: rgb(115, 247, 115);
}

.overdue {
background-color: rgb(247, 61, 61);
}

.rounded{
  border-radius: 100px;
  height: 200px;
  width:100%;
  box-shadow:20px;
}

/* Just added from React,Redux, Firebase */
html {
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 60px;
}
form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

/* Form Style

  height:100vh;
*/ 
section {
  width: 100%;
  background-color: aliceblue;
   display: flex;
  align-items: center;
  justify-content: center;
flex-direction:column;
}

.mycontainer {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: lightblue;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group{
  width: 100%;
margin-top: 20px;
font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128,128,128,0.199);
  margin-top: 5px;
}

textarea{
  resize: vertical;
}

button[type="submit"]{
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: 'Montserrat';
  color: rgb(21, 168, 253);
  text-align:center;
  cursor: pointer;
  margin-top: 10px; 
  background-color:lightgreen;
}

button[type="submit"]:hover{
background-color:rgb(214,226,236);
border:1px solid #fefefe;
cursor:pointer;
}

#status{
  width:90%;
  max-width:500px;
  text-align:center;
  padding:10px;
  margin: 0 auto;
  border-radius:8px;
  display:none;
}

#status.success{
  background-color: rgb(211,250,153);
  display:block;
  animation: status 4s ease forwards;
}

#status.error{
  background-color: rgb(250,129,92);
  display:block;
  color: white;
  animation: status 4s ease forwards;
}

#status.nomsg{
  display:none;
}

@media screen and (min-width:664px){
  .mycontainer{
    width:60%
  }
}

@media screen and (min-width:986px){
  .mycontainer{
    width:40%
  }
}

@media screen and (min-width:664px){
  .container1{
    width:60%
  }
}

@media screen and (min-width:986px){
  .container1{
    width:40%
  }
}

@keyframes status {
  0%{
    opacity:1;
    pointer-events:all;
  }
  90%{
    opacity:1;
    pointer-events:all;
  }
  100%{
    opacity:0;
    pointer-events:none;
  }
}